# Backend
backend/doktolib
backend/tmp/
backend/.env

# Frontend
frontend/.next/
frontend/out/
frontend/build/
frontend/.env*.local
frontend/node_modules/

# Seed Data
seed-data/node_modules/
seed-data/doctors-seed.json
seed-data/doctors-seed.sql

# General
.DS_Store
*.log
.env
.env.local
.env.production.local
.env.development.local

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Crush
.crush/